<nav class="navbar">
    <div class="navbar-logo">
        <a href="/ProyectoEsplendor/index.html">Esplendor</a>
    </div>

    <div class="navbar-links-container">
        <div class="navbar-links">
            <a href="/ProyectoEsplendor/pages/anillos.html">Anillos</a>
            <a href="/ProyectoEsplendor/pages/aretes.html">Aretes</a>
            <a href="/ProyectoEsplendor/pages/cadenas.html">Cadenas</a>
            <a href="/ProyectoEsplendor/pages/collares.html">Collares</a>
            <a href="/ProyectoEsplendor/pages/dijes.html">Dijes</a>
            <a href="/ProyectoEsplendor/pages/pulseras.html">Pulseras</a>
            <a href="/ProyectoEsplendor/pages/relojes.html">Relojes</a>
            <a href="/ProyectoEsplendor/pages/admin_productos.html">Administrar Productos</a>
            <a href="/ProyectoEsplendor/pages/sobrenosotros.html">Sobre nosotros</a>
        </div>
    </div>

    <div class="navbar-icons">
        <input type="text" id="search-input" placeholder="Buscar..." class="search-box">
        <div id="sugerencias-busqueda" class="sugerencias-busqueda"></div>
        <a href="/ProyectoEsplendor/pages/carrito.html" class="cart-icon">
            🛒 <span id="contador-carrito">0</span>
        </a>
    </div>
    </nav>